* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #2c3e50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.quiz-kontener {
  background-color: #34495e;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  padding: 30px;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  
}

header h1 {
  font-size: 24px;
  
}

.wynik-kontener {
  background-color: #34678a;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
}

main {
  min-height: 300px;
}

.btn {
  background-color: #e67e22;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: #d35400;
  transform: scale(1.05);
}

.ukryte {
  display: none;
}

.widoczna {
  display: flex !important;
}

#pytanie-sekcja {
  margin-bottom: 20px;
  text-align: center;
}

#odpowiedź-kontener {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}

#odpowiedź-kontener button {
  padding: 15px;
  background-color: #34678a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.2s;
}

#odpowiedź-kontener button:hover {
  background-color: #1abc9c;
  transform: scale(1.05);
}

#kolejne-pytanie-btn {
  background-color: #34678a;
  
  
}

#kolejne-pytanie-btn:hover {
  background-color: #2980b9;
}

#result-section {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  text-align: center;
}

#numer-pytania {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  
  margin-left: 250px;
}

#start-sekcja{

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
